@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.scrollable-div {
    width:40vw;
    height: 200px;
    overflow-x: scroll;  
    overflow-y: scroll;  

    &::-webkit-scrollbar {
      width: 8rem; 
    }
  
    &::-webkit-scrollbar-track {
      background: #504242; 
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgb(15, 14, 14);
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(33, 32, 32); 
    }
  
    // For Firefox
    scrollbar-color: rgb(33, 33, 33) #585858; 
    scrollbar-width:thin;
  }
  